<div class="content-wrapper">

  <div class="content-wrapper__search">

    <div class="content-wrapper__search__search-string">
      <input class="content-wrapper__search__search-string__input" type="text">
      <div class="content-wrapper__search__search-string__line"></div>
      <div class="content-wrapper__search__search-string__container">
        <button class="content-wrapper__search__search-string__container__button"
                *ngIf="{ theme: theme$ | async } as Theme">
          <img
            alt="lupe"
            [src]="getImage('lupe', Theme.theme!)"
            class="content-wrapper__search__search-string__container__button__search"
          >
        </button>
      </div>
    </div>

    <div class="content-wrapper__search__flag-menu" *ngIf="{ theme: theme$ | async } as Theme">
      <button (click)="toggleMenu()" class="content-wrapper__search__flag-menu__button">
        <div class="content-wrapper__search__flag-menu__button__name">Flags</div>
        <div class="content-wrapper__search__flag-menu__button__triangle"></div>
      </button>

      <div *ngIf="isShowingMenu" class="content-wrapper__search__flag-menu__items">
        <ng-container *ngFor="let flag of this.getFlags()">
          <button (click)="setFlag(flag)" class="content-wrapper__search__flag-menu__items__flag">{{flag}}</button>
        </ng-container>
      </div>
    </div>

  </div>

  <div class="content-wrapper__chosen-flags" *ngIf="this.getFlag()">
    <div class="content-wrapper__chosen-flags__flag" *ngIf="{ theme: theme$ | async } as Theme">
      <div class="content-wrapper__chosen-flags__flag__name">{{this.getFlag()}}</div>
      <img
        alt='cross'
        [src]="getImage('cross', Theme.theme!)"
        (click)="eraseFlag()"
        class="content-wrapper__chosen-flags__flag__cross"
      >
    </div>
  </div>

  <ngx-masonry [options]="this.masonryOptions" class="content-wrapper__masonry-content">
    <div class="content-wrapper__masonry-content__items">
      <div ngxMasonryItem class="content-wrapper__masonry-content__items__item" *ngFor="let tile of this.getTiles()">
        <figure class="content-wrapper__masonry-content__items__item__figure">
          <img
            alt="tile.imgName"
            [src]="imageService.getImage(tile.imgName, 'png')"
            (click)="navigateToPicturePage(tile.id)"
            class="content-wrapper__masonry-content__items__item__figure__image"
          >
        </figure>
      </div>
    </div>
  </ngx-masonry>

</div>
