.first-steps-wrapper {
  width: 100%;

  &__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7rem 0 5rem 0;

    @media (max-width: 768px) {
      padding: 7rem 0 2rem 0;
    }

    &__header {
      font-weight: 700;
      font-size: 4rem;
      text-align: center;
      color: rgb(var(--os-font-color));
    }
  }

  &__content-wrapper {
    padding: 0 10rem 0 10rem;

    @media (max-width: 1200px) {
      padding: 0 4rem 0 4rem;
    }

    .row-info {
      width: 100%;

      display: flex;
      flex-direction: row;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      margin-top: 10rem;
      justify-content: space-between;

      &__text {
        display: flex;
        flex: 1;
        color: rgb(var(--os-font-color));
        font-size: 2rem;

        @media (max-width: 1200px) {
          font-size: 2rem;
        }

        @media (max-width: 998px) {
          font-size: 1.5rem;
        }

        @media (max-width: 768px) {
          font-size: 1.25rem;
          padding-bottom: 10em;
        }

        @media (max-width: 400px) {
          font-size: 1.125rem;
        }

        text-align: center;

        justify-content: center;
        align-items: center;

        position: relative;

        .fill {
          fill: rgb(var(--os-font-color));

          @media (max-width: 1300px) {
            display: none;
          }
        }

        img {
          position: absolute;
        }

        .left {
          left: 150px;
          top: 130px;

          transform: scale(0.7);
        }

        .right {
          right: 160px;
          top: 130px;

          transform: scale(0.7);
        }
      }

      &__photo {
        display: flex;
        flex: 1;
        position: relative;

        min-height: 354px;

        justify-content: center;

        img {
          position: absolute;
          transform: scale(0.7);

          @media (max-width: 1200px) {
            transform: scale(0.6);
          }
        }

        .screen {
          position: absolute;
          width: 800px;
          height: 500px;

          top: -20%;

          @media (max-width: 998px) {
            width: 600px;
            height: 400px;
          }
        }
        .fox {
          z-index: 2;
          top: -60%;
          right: 10%;

          @media (max-width: 1200px) {
            top:-52%;
            right: 10%;
          }

          @media (max-width: 998px) {
            top:-58%;
            right: 10%;
          }

          @media (max-width: 768px) {
            top:-58%;
            left: 50%;
          }

          @media (max-width: 400px) {
            transform: scale(0.4);
            top:-54%;
            left: 25%;
          }
        }

        .dinner {
          top: -76%;
          left: -12%;

          @media (max-width: 1200px) {
            top:-65%;
            left: -20%;
          }

          @media (max-width: 998px) {
            transform: scale(0.4);
            top:-60%;
            left: -37%;
          }

          @media (max-width: 768px) {
            top:-60%;
            left: -25%;
          }

          @media (max-width: 400px) {
            transform: scale(0.3);
            top: -57%;
            left: -115%;
          }
        }

        .god {
          top: -100%;

          @media (max-width: 1200px) {
            top:-90%;
            left: -20%;
          }

          @media (max-width: 998px) {
            transform: scale(0.5);
            top:-90%;
            left: -40%;
          }

          @media (max-width: 768px) {
            transform: scale(0.4);
            top:-90%;
            left: -10%;
          }

          @media (max-width: 400px) {
            transform: scale(0.3);
            top:-85%;
            left: -45%;
          }
        }

        .adam {
          top: -110%;
          left: -20%;

          @media (max-width: 1200px) {
            top:-100%;
            left: -20%;
          }

          @media (max-width: 998px) {
            transform: scale(0.6);
            top:-105%;
            left: -50%;
          }

          @media (max-width: 768px) {
            transform: scale(0.4);
            top:-98%;
            left: -40%;
          }

          @media (max-width: 400px) {
            transform: scale(0.3);
            top:-94%;
            left: -120%;
          }
        }

        .angels {
          top: -40%;

          @media (max-width: 1200px) {
            top:-30.5%;
            left: -10%;
          }

          @media (max-width: 998px) {
            transform: scale(0.6);
            top:-37.5%;
            left: -30%;
          }

          @media (max-width: 768px) {
            transform: scale(0.4);
            top:-32%;
            left: -25%;
          }

          @media (max-width: 400px) {
            transform: scale(0.3);
            top:-31.5%;
            left: -95%;
          }
        }

      }
    }

    .invert {
      flex-direction: row-reverse;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }

  .button-wrapper {
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;

    justify-content: center;

    height: 10vh;

    .button-router {
      cursor: pointer;
      border: none;
      background-color: rgb(var(--os-primary-color));
      border-radius: 0.5em;
      width: 40%;
      height: 100%;
      color: rgb(var(--os-secondary-color));
      font-size: 2rem;
      font-weight: bolder;
    }
  }
}
