.first-steps-wrapper {
  width: 100%;

  &__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7rem 0 7rem 0;

    @media (max-width: 768px) {
      padding: 7rem 0 2rem 0;
    }

    &__header {
      font-weight: 700;
      font-size: 4rem;
      text-align: center;
      color: rgb(var(--os-font-color));
    }
  }

  &__content-wrapper {
    padding: 0 10rem 0 10rem;

    @media (max-width: 1200px) {
      padding: 0 4rem 0 4rem;
    }

    .row-info {
      width: 100%;

      display: flex;
      flex-direction: row;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      margin-top: 10rem;

      &__text {
        display: flex;
        flex: 1;
        color: rgb(var(--os-font-color));
        font-size: 2.5rem;

        @media (max-width: 1200px) {
          font-size: 2.25rem;
        }

        @media (max-width: 998px) {
          font-size: 2rem;
        }

        @media (max-width: 768px) {
          font-size: 1.5rem;
          padding-bottom: 10em;
        }

        @media (max-width: 400px) {
          font-size: 1rem;
        }

        text-align: center;

        justify-content: center;
        align-items: center;

        position: relative;

        .fill {
          fill: rgb(var(--os-font-color));

          @media (max-width: 1300px) {
            display: none;
          }
        }

        img {
          position: absolute;
        }

        .left {
          left: 150px;
          top: 130px;

          transform: scale(0.7);
        }

        .right {
          right: 160px;
          top: 130px;

          transform: scale(0.7);
        }
      }

      &__photo {
        display: flex;
        flex: 1;
        background-color: #D9D9D9;
        position: relative;

        min-height: 354px;

        img {
          position: absolute;
          transform: scale(0.7);

          @media (max-width: 1200px) {
            transform: scale(0.5);
          }

        }

        .fox {
          top: -60%;
          right: 10%;

          @media (max-width: 1200px) {
            top:-58%;
            right: 10%;
          }

          @media (max-width: 998px) {
            top:-58%;
            right: 10%;
          }

          @media (max-width: 768px) {
            top:-57%;
            left: 10%;
          }

          @media (max-width: 400px) {
            transform: scale(0.4);
          }
        }

        .dinner {
          top: -78%;
          left: -15%;

          @media (max-width: 1200px) {
            top:-70%;
            right: 10%;
          }

          @media (max-width: 998px) {
            top:-58%;
            right: 10%;
          }

          @media (max-width: 768px) {
            top:-57%;
            left: 10%;
          }

          @media (max-width: 400px) {
            transform: scale(0.4);
          }
        }

        .god {
          top: -100%
        }

        .adam {
          top: -110%;
          left: -20%;
        }

        .angels {
          top: -45%;
        }

      }
    }

    .invert {
      flex-direction: row-reverse;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
}
