.first-steps-wrapper {
  width: 100%;

  &__header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7rem 0 7rem 0;

    @media (max-width: 768px) {
      padding: 7rem 0 2rem 0;
    }

    &__header {
      font-weight: 700;
      font-size: 4rem;
      text-align: center;
      color: rgb(var(--os-font-color));
    }
  }

  &__content-wrapper {
    padding: 0 10rem 0 10rem;

    @media (max-width: 1200px) {
      padding: 0 4rem 0 4rem;
    }

    .row-info {
      width: 100%;

      display: flex;
      flex-direction: row;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      margin-top: 10rem;

      &__text {
        display: flex;
        flex: 1;
        color: rgb(var(--os-font-color));
        font-size: 2rem;

        @media (max-width: 1200px) {
          font-size: 2rem;
        }

        @media (max-width: 998px) {
          font-size: 1.75rem;
        }

        @media (max-width: 768px) {
          font-size: 1.25rem;
          padding-bottom: 10em;
        }

        @media (max-width: 400px) {
          font-size: 0.75rem;
        }

        text-align: center;

        justify-content: center;
        align-items: center;

        position: relative;

        .fill {
          fill: rgb(var(--os-font-color));

          @media (max-width: 1300px) {
            display: none;
          }
        }

        img {
          position: absolute;
        }

        .left {
          left: 150px;
          top: 130px;

          transform: scale(0.7);
        }

        .right {
          right: 160px;
          top: 130px;

          transform: scale(0.7);
        }

        .screen {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }

      &__photo {
        display: flex;
        flex: 1;
        position: relative;

        min-height: 354px;

        img {
          position: absolute;
          transform: scale(0.7);

          @media (max-width: 1200px) {
            transform: scale(0.6);
          }

        }

        .fox {
          top: -60%;
          right: 10%;

          @media (max-width: 1200px) {
            top:-58%;
            right: 10%;
          }

          @media (max-width: 998px) {
            top:-58%;
            right: 10%;
          }

          @media (max-width: 768px) {
            top:-60%;
            left: 50%;
          }

          @media (max-width: 400px) {
            transform: scale(0.4);
            top:-56%;
            left: 25%;
          }
        }

        .dinner {
          top: -78%;
          left: -15%;

          @media (max-width: 1200px) {
            top:-73%;
            left: -20%;
          }

          @media (max-width: 998px) {
            transform: scale(0.5);
            top:-69%;
            left: -37%;
          }

          @media (max-width: 768px) {
            top:-69%;
            left: -25%;
          }

          @media (max-width: 400px) {
            transform: scale(0.3);
            top: -60%;
            left: -90%;
          }
        }

        .god {
          top: -100%;

          @media (max-width: 1200px) {
            top:-100%;
            left: -20%;
          }

          @media (max-width: 998px) {
            top:-100%;
            left: -40%;
          }

          @media (max-width: 768px) {
            transform: scale(0.4);
            top:-90%;
            left: 0;
          }

          @media (max-width: 400px) {
            transform: scale(0.3);
            top:-85%;
            left: -85%;
          }
        }

        .adam {
          top: -110%;
          left: -20%;

          @media (max-width: 1200px) {
            top:-105%;
            left: -20%;
          }

          @media (max-width: 998px) {
            transform: scale(0.6);
            top:-105%;
            left: -50%;
          }

          @media (max-width: 768px) {
            transform: scale(0.4);
            top:-98%;
            left: -48%;
          }

          @media (max-width: 400px) {
            transform: scale(0.3);
            top:-94%;
            left: -100%;
          }
        }

        .angels {
          top: -45%;

          @media (max-width: 1200px) {
            top:-42.5%;
            left: -10%;
          }

          @media (max-width: 998px) {
            transform: scale(0.6);
            top:-42.5%;
            left: -25%;
          }

          @media (max-width: 768px) {
            transform: scale(0.4);
            top:-37%;
            left: -30%;
          }

          @media (max-width: 400px) {
            transform: scale(0.3);
            top:-34.5%;
            left: -75%;
          }
        }

      }
    }

    .invert {
      flex-direction: row-reverse;

      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
}
