<div class="content-wrapper">
  <div class="header">
    <div class="title">
      Description generation
    </div>
    <div class="description">
      To generate a description write the description of your picture below, then click the button <i>“Generate”</i>.
      Wait for several seconds and voila your description has been generated.
    </div>
  </div>

  <div class="input">
    <div class="string-input">
      <input class="string-input__input"/>
    </div>
  </div>
</div>
<app-arrow-button routerLink=".." class="arrow-button"></app-arrow-button>
