<div class="gen-picture-wrapper">
    <div class="gen-picture-wrapper__header">
        <div class="gen-picture-wrapper__header__title">Generate Picture</div>
        <div class="gen-picture-wrapper__header__sub-title">To generate a picture write the description of your picture below, then click the button <i>“Generate”</i>. Wait for several seconds and voila your picture has been generated.</div>
    </div>
    <div class="gen-picture-wrapper__content">
        <div class="gen-picture-wrapper__content__textarea">
            <textarea placeholder="write the description"></textarea>
        </div>
        <button class="gen-picture-wrapper__content__button">GENERATE</button>
    </div>
</div>
<app-arrow-button routerLink=".." class="arrow-button"></app-arrow-button>